<h1 style="text-align: center">Here are your Active Tasks</h1>

<% @task.images.each do |image| %>
  <%= image_tag image.variant(:thumb) %>
  <br/>
  <div>
  <p>Is the Image labeled correctly?<br/></p>
  <%= image.label %>
  <%= image.confidence %>
  </div>
<% end %>

<%= @label %>
<%= @confidence %>