<h1 style="text-align: center">Here are your Active Tasks</h1>

<% @current_agent_tasks.tasks.each do |image| %>
  <%= image_tag image, style: "width: 400px; height: 400px" %>
  <br/>
  <div>
  <p>Is the Image labeled correctly?<br/></p>
  <%= image.label %>
  <%= image.confidence %>
  </div>
<% end %>

<%= @label %>
<%= @confidence %>